
<div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="card-title">Add Group</div>

            <form class="form-horizontal" action="addgroupsave"   method="post"  enctype="multipart/form-data" >
                    <!-- @csrf -->
                    <!-- text input -->

                    <% if (showvalidate != '') { %>
                        <div class="alert alert-danger" role="alert">
    
                            <% if (showvalidate.groupnameRequired) { %>
                                <%= showvalidate.groupnameRequired.msg %>
                                <br>
                            <% } %>

                            <% if (showvalidate.groupDescriptionRequired) { %>
                                <%= showvalidate.groupDescriptionRequired.msg %>
                                <br>
                            <% } %>
    
                            <% if (showvalidate.uniRequired) { %>
                            <%= showvalidate.uniRequired.msg %>
                                <br>
                            <% } %>

                            <% if (showvalidate.imageRequired) { %>
                                <%= showvalidate.imageRequired.msg %>
                                    <br>
                                <% } %>
                            
                          </div>
                          <% } %>


                    <div class="form-group">
                        <label for="group.name">Group Name</label>
                        <input type="text" id="group" name="group.name" class="form-control"
                            placeholder="group name" value="<%= oldData['group.name'] %>">
                    </div>

                    <div class="form-group">
                        <label for="group.description">Description</label>
                        <textarea type="text" id="description" name="group.description" class="form-control"
                        placeholder="description" value="<%= oldData['group.description'] %>"></textarea> 
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Select University</label>
                        <select name="university.name" id="university" class="form-control">
                            <% if (oldData['university.name'] === '' || oldData['university.name'] === undefined || oldData['university.name'] === null || Object.keys(oldData['university.name']).length === 0)  { %>
                            
                            <option selected disabled >Please Select</option>
                            <% } %>

                            <% list.forEach(function(uni){ 
                                
                                var selected = (oldData['university.name'] ==  uni.university.name ) ? "selected" : "";

                                %>                          
                                <option value="<%= uni.university.name %>" data-domain="<%= uni.university.domains %>" <%= selected %> ><%= uni.university.name %></option>
                                
                                <% }); %>

                                
                        </select>
                        
                    </div>

                        <div class="form-group">
                            <label for="domain">domain</label>
                            <input type="text"  value="<%= oldData['university.domains'] %>" name="university.domains" class="form-control domain" readonly required>
                        </div>


                        <div class="form-group">
                            <label for="image">Image</label>
                            <input type="file" name="file" class="dropify" data-allowed-file-extensions="png jpeg jpg" id="demo"   required>

                        </div>

                            <div class="form-group">
                                <input type="checkbox" name="isDefault" id="isDefault" value="true">
                                <label for="status">Enable</label>
                            </div>
                        
                        <button type="submit" class="mt-1 btn btn-primary pull-left">Save</button>

            
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>
<script>
$(document).ready(function(){

    $("#university").change(function(){
        var selecteddomain = $(this).children("option:selected").attr("data-domain");
        // $('.domain').val(selecteddomain);
        $('.domain').attr('value', selecteddomain);
    });

});

</script>

<% if (response != '') { %>
    <script>
     Swal(
        '<%= response.type %>',
        '<%= response.msg %>',
        '<%= response.type %>'
    ).then(function() {
            window.location.href = "/admins/grouplistpassingdata";
        })
   </script>
   <% } %>



