
<div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="card-title">Add Section</div>

            <form class="form-horizontal" action="addsectionsave"   method="post"  enctype="multipart/form-data" >
                    <!-- @csrf -->
                    <!-- text input -->

                    <% if (showvalidate != '') { %>
                        <div class="alert alert-danger" role="alert">
    


                            <% if (showvalidate.sectionRequired) { %>
                                <%= showvalidate.sectionRequired.msg %>
                                <br>
                            <% } %>

                            <% if (showvalidate.groupDescriptionRequired) { %>
                                <%= showvalidate.groupDescriptionRequired.msg %>
                                <br>
                            <% } %>

                            <% if (showvalidate.groupNameRequired) { %>
                                <%= showvalidate.groupNameRequired.msg %>
                                <br>
                            <% } %>
    
                            <% if (showvalidate.uniRequired) { %>
                            <%= showvalidate.uniRequired.msg %>
                                <br>
                            <% } %>

                            <% if (showvalidate.imageRequired) { %>
                                <%= showvalidate.imageRequired.msg %>
                                    <br>
                                <% } %>
                            
                          </div>
                          <% } %>



                    <div class="form-group">
                        <label for="Section">Section Name</label>
                        <input type="text" id="section" name="section.name" class="form-control"
                            placeholder="Section name" value="<%= oldData['section.name'] %>">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Select Section Category</label>
                        <select id="sectionCategory" name="section.category" class="form-control">                            
                            <option value="none">none</option>
                            <option >lecture</option>
                            <option >discussion</option>
                            <option >lab</option>
                            <option >tutorial</option>
                            <option >practical</option>
                            <option >seminar</option>
                        </select>
                        
                    </div>

                    <div class="form-group">
                        <label for="group.description">Description</label>
                        <textarea type="text" id="description" name="group.description" class="form-control"
                        placeholder="description"><%= oldData['group.description'] %></textarea> 
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Select University</label>
                        <select name="university.name" id="university" class="form-control">
                            <% if (oldData['university.name'] === '' || oldData['university.name'] === undefined || oldData['university.name'] === null || Object.keys(oldData['university.name']).length === 0)  { %>
                            
                            <option selected disabled >Please Select</option>
                            <% } %>

                            <% list.forEach(function(uni){ 
                                
                                var selected = (oldData['university.name'] ==  uni.university.name ) ? "selected" : "";

                                %>                          
                                <option value="<%= uni.university.name %>" data-domain="<%= uni.university.domains %>" <%= selected %> ><%= uni.university.name %></option>
                                
                                <% }); %>

                                
                        </select>
                        
                    </div>

                        <div class="form-group">
                            <label for="domain">domain</label>
                            <input type="text"  value="<%= oldData['university.domains'] %>" name="university.domains" class="form-control domain" readonly required>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Select Group</label>
                            <select name="group.name" id="group" class="form-control">
                                <% if (oldData['group.name'] === '' || oldData['group.name'] === undefined || oldData['group.name'] === null || Object.keys(oldData['group.name']).length === 0)  { %>
                                
                                <option selected disabled >Please Select</option>
                                <% } %>
    
                                <% campusdata.forEach(function(dt){ 
                                    
                                    var selected = (oldData['group.name'] ==  dt.group.name ) ? "selected" : "";
    
                                    %>                          
                                    <option value="<%= dt.group.name %>" data-groupid="<%= dt._id %>" <%= selected %> ><%= dt.group.name %></option>
                                    <% }); %>
    
                                    
                            </select>
                            
                        </div>

                        <div class="form-group">
                            <!-- <label for="groupid">Group Id</label> -->
                            <input type="text"  value="<%= oldData['campusgroupId'] %>" name="campusgroupId" class="form-control group_id" readonly required hidden>
                        </div>

                        <div class="form-group">
                            <label for="image">Image</label>
                            <input type="file" name="file" class="dropify" id="demo"  data-allowed-file-extensions="png jpeg jpg" required>

                        </div>

                        <div class="form-group">
                            <input type="checkbox" name="isGeneral" id="isGeneral" value="true">
                            <label for="isGeneral">Enable</label>
                        </div>
                        <button type="submit" class="mt-1 btn btn-primary pull-left">Save</button>

            
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>
<script>
$(document).ready(function(){

    $("#university").change(function(){
        var selecteddomain = $(this).children("option:selected").attr("data-domain");
        // $('.domain').val(selecteddomain);
        $('.domain').attr('value', selecteddomain);
    });

    $("#group").change(function(){
        var selectedgroup = $(this).children("option:selected").attr("data-groupid");
        // $('.domain').val(selecteddomain);
        $('.group_id').attr('value', selectedgroup);
    });

});

</script>

<% if (response != '') { %>
    <script>
     Swal(
        '<%= response.type %>',
        '<%= response.msg %>',
        '<%= response.type %>'
    ).then(function() {
            window.location.href = "/admins/sectionlistpassingdata";
        })
   </script>
   <% } %>



