
<div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="card-title">Add University</div>
            <form class="form-horizontal" action="adduniversitysave" method="post">
                    <!-- @csrf -->
                    <!-- text input -->

                    <% if (showvalidate != '') { %>
                        <div class="alert alert-danger" role="alert">
    
                            <% if (showvalidate.unidomainRequired) { %>
                                <%= showvalidate.unidomainRequired.msg %>
                                <br>
                            <% } %>
    
                            <% if (showvalidate.uninameRequired) { %>
                            <%= showvalidate.uninameRequired.msg %>
                                <br>
                            <% } %>
                            
                          </div>
                          <% } %>


                    <div class="form-group">
                        <label for="title">University Name</label>
                        <input type="text" id="name" name="university.name" class="form-control"
                            placeholder="University Name" value="<%= oldData['university.name'] %>">
                    </div>

                    <div class="form-group">
                        <label for="name">Domain</label>
                        <input type="text" id="domains" name="university.domains" class="form-control"
                            placeholder="Domain" value="<%= oldData['university.domains'] %>">
                    </div>
                    <button type="submit" class="mt-1 btn btn-primary pull-left">Save</button>

            
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>

</script>

<% if (response != '') { %>
    <script>
     Swal(
        '<%= response.type %>',
        '<%= response.msg %>',
        '<%= response.type %>'
    ).then(function() {
            window.location.href = "/admins/universitylistpassingdata";
        })
   </script>
   <% } %>