<nav class="" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%-
      list.map(({link, title}, index) => index < list.length - 1 ?
      `<li class="breadcrumb-item"><a href="${link}">${title}</a></li>` :
      `<li class="active breadcrumb-item" aria-current="page">${title}</li>`
      ).join('')
    %>
  </ol>
</nav>
