<div class="col-lg-12">
  <div class="main-card mb-3 card">
    <div class="card-body">
      <ul class="list">
        <li class="list-row list-row_head">
          <div class="row-field row-field_number">#</div>
          <div class="row-field row-field_name">Name</div>
          <div class="row-field row-field_description">Description</div>
          <div class="row-field row-field_comment-status">Status</div>
          <div class="row-field row-field_actions">Actions</div>
        </li>
        <%-
          list.map((comment, index) => `
          <li class="list-row  ${comment.isDeleted ? `list-row_removed` : ``}" data-id="${comment._id}" data-post="${comment.postId}">
            <div class="row-field row-field_number">${((pagination.page - 1) * pagination.limit) + index + 1}</div>
            <div class="row-field row-field_name">
              <div class="profile-photo">
                <img src="${comment.student.photo || `/images/no-pic.jpg`}" alt="">
              </div>
              <div class="name-info">
                <div class="full-name ${comment.student.verification.isVerified ? `fontello-icon-ok` : ``}">
                  <div class="ellipsis-text">${comment.student.firstName} ${comment.student.lastName}</div>
                </div>
                <div class="meta-info">
                  <span class="date">${comment.createdAt}</span>
                </div>
              </div>
            </div>
            <div class="row-field row-field_description" data-toggle="tooltip" data-placement="top" title="" data-original-title="${comment.description}">
              <div class="two-lines-text">${comment.description}</div>
            </div>
            <div class="row-field row-field_comment-status">
              ${
                comment.isRestricted ?
                `<div class="status status-restricted fontello-icon-eye-off" data-toggle="tooltip" data-placement="top" title="" data-original-title="The comment is restricted"></div>` :
                ``
                }
              ${
                comment.isAnonymous ?
                `<div class="status status-anonymous" data-toggle="tooltip" data-placement="top" title="" data-original-title="The comment is anonymous"></div>` :
                ``
              }
              ${
                comment.reportsCount ?
                `<div class="status status-reported" data-toggle="tooltip" data-placement="top" title="" data-original-title="The comment is reported" data-reports="${Object.entries(comment.reports).filter(([key, value]) => value).map(([key, value]) => `${key}:${value}`).join(',')}">
                  Reported by
                  <span class="badge badge-pill badge-light">${comment.reportsCount}</span>
                </div>` :
                ``
              }
            </div>
            <div class="row-field row-field_actions">
              ${
                comment.isDeleted ?
                `<span class="item-removed" data-toggle="tooltip" data-placement="top" title="" data-original-title="The comment has already removed"></span>` :
                `<a href="/admins/comments/${comment._id}/remove" class="mb-2 mr-2 border-0 btn-transition btn btn-outline-dark fontello-icon-trash remove-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove the comment"></a>`
              }
            </div>
          </li>
        `).join('')
        %>
      </ul>
    </div>
    <%- include ('./pagination.ejs', { ...pagination }) -%>
  </div>
</div>
