<div class="col-lg-12">
  <div class="main-card mb-3 card">
    <div class="card-body">
      <div class="card-title">Filter Comments</div>
      <form class="form-inline filter-form comment-filter">
        <div role="group" class="btn-group-lg btn-group btn-group-toggle comment-filter-type" data-toggle="buttons">
          <label class="btn btn-focus <%= commentType === 'all' ? `active` : ``%>">
            <input type="radio" name="options" id="option7" autocomplete="off" value="all" <%= commentType === 'all' ? `checked` : ``%>>
            All
          </label>
          <label class="btn btn-focus <%= commentType === 'reported' ? `active` : ``%>">
            <input type="radio" name="options" id="option8" autocomplete="off" value="reported" <%= commentType === 'reported' ? `checked` : ``%>>
            Reported
          </label>
          <label class="btn btn-focus <%= commentType === 'removed' ? `active` : ``%>">
            <input type="radio" name="options" id="option9" autocomplete="off" value="removed" <%= commentType === 'removed' ? `checked` : ``%>>
            Removed
          </label>
        </div>
      </form>
    </div>
  </div>
</div>
