
<div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="card-title">Edit Settings</div>

            <form class="form-horizontal" action="/admins/editsettingsave/<%=oldData[0]._id%>"   method="post">
                    <!-- @csrf -->
                    <!-- text input -->

                <div class="row">

                    <div class="form-group col-md-2">
                        <label for="addpost_title">Title</label>
                        <input type="text" id="addpost_title" name="addpost_title" class="form-control"
                            placeholder="" value="<%=oldData[0].addpost_title %>" readonly>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="addpost_description">Short Description</label>
                        <input type="text" id="addpost_description" name="addpost_description" class="form-control"
                            placeholder="addpost_description" value="<%= oldData[0].addpost_description %>">
                    </div>

                    <div class="form-group col-md-2" style="margin-top: 2%;">
                        <label for="addpost_isNotified">is Notified</label>
                        <input type="checkbox" name="addpost_isNotified" id="addpost_isNotified"   <%= oldData[0].addpost_isNotified  == true ? 'checked' : '' %>>
                    </div>

                </div>

                    <div class="row">

                        <div class="form-group col-md-2">
                            <label for="addcomment_title">Title</label>
                            <input type="text" id="addcomment_title" name="addcomment_title" class="form-control"
                                placeholder="addcomment_title" value="<%= oldData[0].addcomment_title %>" readonly>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="addcomment_description">Short Description</label>
                            <input type="text" id="addcomment_description" name="addcomment_description" class="form-control"
                                placeholder="addcomment_description" value="<%= oldData[0].addcomment_description %>">
                        </div>

                        <div class="form-group col-md-2" style="margin-top: 2%;">
                            <label for="addcomment_isNotified">is Notified</label>
                            <input type="checkbox" name="addcomment_isNotified" id="addcomment_isNotified"   <%= oldData[0].addcomment_isNotified  == true ? 'checked' : '' %>>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-2">
                            <label for="likepost_title">Title</label>
                            <input type="text" id="likepost_title" name="likepost_title" class="form-control"
                                placeholder="likepost_title" value="<%= oldData[0].likepost_title %>" readonly>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="likepost_description">Short Description</label>
                            <input type="text" id="likepost_description" name="likepost_description" class="form-control"
                                placeholder="likepost_description" value="<%= oldData[0].likepost_description %>">
                        </div>

                        <div class="form-group col-md-2" style="margin-top: 2%;">
                            <label for="likepost_isNotified">is Notified</label>
                            <input type="checkbox" name="likepost_isNotified" id="likepost_isNotified"   <%= oldData[0].likepost_isNotified  == true ? 'checked' : '' %>>
                        </div>

                    </div>

                <% /* %>
                    <div class="row">

                        <div class="form-group col-md-2">
                            <label for="unlikepost_title">Title</label>
                            <input type="text" id="unlikepost_title" name="unlikepost_title" class="form-control"
                                placeholder="unlikepost_title" value="<%= oldData[0].unlikepost_title%>" readonly>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="unlikepost_description">Short Description</label>
                            <input type="text" id="unlikepost_description" name="unlikepost_description" class="form-control"
                                placeholder="unlikepost_description" value="<%= oldData[0].unlikepost_description %>">
                        </div>

                        <div class="form-group col-md-2" style="margin-top: 2%;">
                            <label for="unlikepost_isNotified">is Notified</label>
                            <input type="checkbox" name="unlikepost_isNotified" id="unlikepost_isNotified"   <%= oldData[0].unlikepost_isNotified  == true ? 'checked' : '' %>>
                        </div>

                    </div>
                <% */ %>

                <button type="submit" class="mt-3 btn btn-primary pull-left">Update</button>

            
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>

<% if (response != '') { %>
    <script>
     Swal(
        '<%= response.type %>',
        '<%= response.msg %>',
        '<%= response.type %>'
    ).then(function() {
            window.location.href = "/admins/editsettings";
        })
   </script>
   <% } %>


