
<div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="card-title">Groups Category</div>
            <form class="form-horizontal" action="groupcategorysave" method="post">
                    <!-- @csrf -->
                    <!-- text input -->
                    <div class="form-group">
                        <label for="title">Type</label>
                        <input type="text" id="type" name="categoryname" class="form-control"
                            placeholder="Group Type">
                    </div>
                    <button type="submit" class="btn btn-info pull-left">Save</button>

            
            </form>
        </div>
    </div>
</div>