<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Post detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="post-title">Lorem Ipsum is some thing else is here to show</div>
        <div class="post-meta">
          <span class="report">Post reported by 12 students</span>
          <span class="date">Updated date: 2020-07-09</span>
        </div>
        <figure>
          <img src="" alt="" width="100%" height="150">
        </figure>
        <div class="post-status">
          <span>Restricted</span>
          <span>Anonymous</span>
        </div>
        <div class="description">
          <p>
            Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Remove</button>
      </div>
    </div>
  </div>
</div>
