<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="pe-7s-menu icon-gradient bg-ripe-malin">
        </i>
      </div>
      <div><%= title %>
        <div class="page-title-subheading">
          <%= subtitle %>
        </div>
      </div>
    </div>
  </div>
</div>
