<div class="card-body">
  <nav class="" aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item page-prev" data-first-page="1">
        <a href="javascript:void(0);" class="page-link" aria-label="Previous">
          <span aria-hidden="true">«</span><span class="sr-only">Previous</span>
        </a>
      </li>
      <%-
        (() => {
          const totalPage = Math.ceil(total / limit);
          const list = [];
          let leftGap = page + 5 > totalPage ? 5 - (totalPage - page) : 0;
          const startPage = page - leftGap - 4 > 1 ? page - leftGap - 4 : (leftGap = 5 - page, 1);
          const rightGap = page + leftGap + 5;
          const endPage = rightGap < totalPage ? rightGap : totalPage
          for(let i = startPage; i <= endPage; i++) {
            list.push(`
              <li class="page-item ${i === page ? `active` : ``}" data-page="${i}">
                <a href="javascript:void(0);" class="page-link" >${i}</a>
              </li>
            `);
          }
          return list.join('');
        })()
      %>
      <li class="page-item page-next" data-last-page="<%= Math.ceil(total / limit) %>">
        <a href="javascript:void(0);" class="page-link" aria-label="Next">
          <span aria-hidden="true">»</span><span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
