<div class="modal-wrapper modal-wrapper_photo">
  <div class="modal-container modal-container_photo">
    <div class="slider-wrapper">
      <figure class="active">
        <img src="#" alt="">
      </figure>
    </div>
    <div class="slider-arrow-prev fontello-icon-left-open"></div>
    <div class="slider-arrow-next fontello-icon-right-open"></div>
  </div>
</div>
