<div class="col-lg-12">
  <div class="main-card mb-3 card">
    <div class="card-body">
      <ul class="list">
        <li class="list-row list-row_head">
          <div class="row-field row-field_number">#</div>
          <div class="row-field row-field_name">Name</div>
          <div class="row-field row-field_title">Title</div>
          <div class="row-field row-field_description">Description</div>
          <div class="row-field row-field_post-status">Status</div>
          <div class="row-field row-field_details">Details</div>
          <div class="row-field row-field_actions">Actions</div>
        </li>
        <%-
          list.map((post, index) => `
            <li class="list-row ${post.isDeleted ? `list-row_removed` : ``}" data-id="${post._id}">
              <div class="row-field row-field_number">${((pagination.page - 1) * pagination.limit) + index + 1}</div>
              <div class="row-field row-field_name">
                <div class="profile-photo">
                  <img src="${post.student.photo || `/images/no-pic.jpg`}" alt="">
                </div>
                <div class="name-info">
                  <div class="full-name ${post.student.verification.isVerified ? `fontello-icon-ok` : ``}">
                    <div class="ellipsis-text">${post.student.firstName} ${post.student.lastName}</div>
                  </div>
                  <div class="meta-info">
                    <span class="date">${post.createdAt}</span>
                  </div>
                </div>
              </div>
              <div class="row-field row-field_title">
                <div class="title">
                  <div class="ellipsis-text" data-toggle="tooltip" data-placement="top" title="" data-original-title="${post.content.title}">${post.content.title}</div>
                </div>
                <div class="section-name">
                  <div class="ellipsis-text" data-toggle="tooltip" data-placement="top" title="" data-original-title="${post.group.course.name} - ${post.group.section.name[0] + post.group.section.name.slice(1).toLowerCase()}">${post.group.course.name} - ${post.group.section.name[0] + post.group.section.name.slice(1).toLowerCase()}</div>
                </div>
              </div>
              <div class="row-field row-field_description" data-toggle="tooltip" data-placement="top" title="" data-original-title="${post.content.description}">
                <div class="two-lines-text">${post.content.description}</div>
              </div>
              <div class="row-field row-field_post-status">
                ${
                  post.isRestricted ?
                  `<div class="status status-restricted fontello-icon-eye-off" data-toggle="tooltip" data-placement="top" title="" data-original-title="The post is restricted"></div>` :
                  ``
                }
                ${
                  post.isAnonymous ?
                  `<div class="status status-anonymous" data-toggle="tooltip" data-placement="top" title="" data-original-title="The post is anonymous"></div>` :
                  ``
                }
                ${
                  post.reportsCount ?
                  `<div class="status status-reported" data-toggle="tooltip" data-placement="top" title="" data-original-title="The post is reported" data-reports="${Object.entries(post.reports).filter(([key, value]) => value).map(([key, value]) => `${key}:${value}`).join(',')}">
                    Reported by
                    <span class="badge badge-pill badge-light">${post.reportsCount}</span>
                  </div>` :
                  ``
                }
              </div>
              <div class="row-field row-field_details">
                <a href="/admins/posts/${post._id}/comments" class="comment-detail fontello-icon-comment-alt ${post.commentCount ? `` : `disabled`}" ${post.commentCount ? `data-count="${post.commentCount}"`: ``}  data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to see the comments list"></a>
              </div>
              <div class="row-field row-field_actions">
                ${
                  post.content.photos.length ?
                  `<a href="${post.content.photos.join(',')}" class="mb-2 mr-2 border-0 btn-transition btn btn-outline-info fontello-icon-picture-1 photo-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="The post has ${post.content.photos.length} photo${post.content.photos.length > 1 ? `s` : ``}"></a>` :
                  ``
                }
                ${
                  post.isDeleted ?
                  `<span class="item-removed" data-toggle="tooltip" data-placement="top" title="" data-original-title="The post has already removed"></span>` :
                  `<a href="/admins/posts/${post._id}/remove" class="mb-2 mr-2 border-0 btn-transition btn btn-outline-dark fontello-icon-trash remove-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove the post"></a>`
                }
              </div>
            </li>
          `).join('')
        %>
      </ul>
    </div>
    <%- include ('./pagination.ejs', { ...pagination }) -%>
  </div>
</div>
