
<!-- third party css -->
<link href="/admin/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="/admin/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="/admin/libs/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />
<!-- third party css end -->

<!-- Start Content-->
<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <!-- <a href="" class="my-2 btn btn-success">
                Add New
                <i class="fa fa-plus"></i>
            </a> -->
            <div class="card-box table-responsive">

                <table id="postsTable" class="table table-bordered dt-responsive nowrap" style="width:100%;">
                    <thead>
                        <tr>
                            <th width="10px">#</th>
                            <!-- <th>section Id</th> -->
                            <th>Name</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th width="10px">Status</th>
                            <th width="100px">Details</th>
                            <th width="30px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
                        list.map((post, index) => {%>
                        <tr>
                            <!-- <td style="width: 50px;"><img id="image" src="{{asset($brands->image)}}" alt="" style="width:30px;" /> </td> -->
                            <td><%= ((pagination.page - 1) * pagination.limit) + index + 1 %></td>
                            <td>
                                <div class="row-field row-field_name">
                                <div class="profile-photo">
                                    <img src="<%= post.student.photo || `/images/no-pic.jpg` %>" alt="">
                                  </div>
                                  <div class="name-info">
                                    <div class="full-name <%=post.student.verification.isVerified ? `fontello-icon-ok` : ``%>">
                                      <div class="ellipsis-text"><%= post.student.firstName %> <%= post.student.lastName %></div>
                                    </div>
                                    <div class="meta-info">
                                      <span class="date"><%=post.createdAt %></span>
                                    </div>
                                  </div>
                                </div>
                            </td>
                            <td>       
                                <div class="row-field row-field_title">         
                                <div class="title">
                                    <div class="ellipsis-text" data-toggle="tooltip" data-placement="top" title="" data-original-title="<%= post.content.title %>"><%=post.content.title %></div>
                              </div>
                              <div class="section-name">
                                    <div class="ellipsis-text" data-toggle="tooltip" data-placement="top" title="" data-original-title="<%= post.group.course.name %> - <%= post.group.section.name[0] + post.group.section.name.slice(1).toLowerCase() %>"><%=post.group.course.name%> - <%=post.group.section.name[0] + post.group.section.name.slice(1).toLowerCase()%></div>
                              </div>
                            </div> 
                            </td>
                            <td>
                                <div class="row-field row-field_description" data-toggle="tooltip" data-placement="top" title="" data-original-title="<%= post.content.description%>">
                                    <div class="two-lines-text"><%= post.content.description%></div>
                                  </div>

                            </td>
                            <td>              
                                <div class="row-field row-field_post-status">
                                  <% if (post.isRestricted) { %>
                                  <div class="status status-restricted fontello-icon-eye-off" data-toggle="tooltip" data-placement="top" title="" data-original-title="The post is restricted"></div>
                                  <% } %>

                                  <% if (post.isAnonymous) { %>
                                  <div class="status status-anonymous" data-toggle="tooltip" data-placement="top" title="" data-original-title="The post is anonymous"></div>
                                  <% } %> 

                                  <% if (post.reportsCount) { %>
                                    <div class="status status-reported" data-toggle="tooltip" data-placement="top" title="" data-original-title="The post is reported" data-reports="${Object.entries(post.reports).filter(([key, value]) => value).map(([key, value]) => `${key}:${value}`).join(',')}">
                                      Reported by
                                      <span class="badge badge-pill badge-light"><%= post.reportsCount %></span>
                                    </div>  
                                    <% } %> 
                              </div>
                            
                            </td>
                            <td>                            
                                <div class="row-field row-field_details">                                                                                                     
                                    <a href="/admins/posts/<%=post._id %>/comments" class="comment-detail fontello-icon-comment-alt <%=post.commentCount ? `` : `disabled` %>" <%= post.commentCount ? `data-count=${post.commentCount}`: `` %> data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to see the comments list"></a>
                                </div>
                            </td>

                            <td>
                                
                                <div class="row-field row-field_actions">
                                    <% if (post.content.photos.length) { %>                                                                                                                                                                                           
                                      <a href="<%=post.content.photos.join(',') %>" class="mb-2 mr-0 border-0 btn-transition btn btn-outline-info fontello-icon-picture-1 photo-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="The post has <%=post.content.photos.length%> photo<%=post.content.photos.length > 1 ? `s` : ``%>"></a>
                                    <% } %>

                                    <% if (post.isDeleted) { %>
                                        <span class="item-removed" data-toggle="tooltip" data-placement="top" title="" data-original-title="The post has already removed"></span>
                                    <% } else { %>
                                        <a href="/admins/postlistpassingdata/<%=post._id%>" class="mb-2 mr-0 border-0 btn-transition btn btn-outline-dark fontello-icon-trash remove-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove the post"></a>
                                    <% } %>

                                    <% if (post.isPin === false || post.isPin === undefined) { %>
                                    <a class="btn btn-info btn-sm text-white cursor-pointer" value="1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pin post now" href="/admins/postlistpassingdata/<%=post._id%>/1">
                                        <i class="fa fa-bookmark"></i>
                                    </a>
                                    <% } else { %>
                                        <a class="btn btn-success btn-sm text-white cursor-pointer" value="0" data-toggle="tooltip" data-placement="top" title=""  href="/admins/postlistpassingdata/<%=post._id%>/0" 
                                        <% if (post.isNotified === false || post.isNotified === undefined) { %> 
                                                data-original-title="UnPin post now" <% } 
                                            else { %>  
                                                data-original-title="UnPin post now `Already Notified`" <% } %> >
                                            <i class="fa fa-bookmark"></i>
                                        </a>
                                        <% if (post.isNotified === false || post.isNotified === undefined) { %>
                                        <button class="btn btn-primary ml-2 btn-sm text-white cursor-pointer notifyusers"  data-postId="<%=post._id%>" data-groupId="<%=post.groupId%>" value="0" data-toggle="tooltip" data-placement="top" title="" data-original-title="push Notification" >
                                            <i class="fa fa-bell"></i>
                                        </button>
                                        <% } %>
                                    <% } %>

                                </div>
                            </td>
                        </tr> 
                       <% }).join('')
                        %>
                    </tbody>
                </table>
            </div>
        </div>
        <%- include ('./pagination.ejs', { ...pagination }) -%>
    </div>

    <!-- container-fluid -->

</div>
<!-- content -->



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>
<script>
      



      $('.notifyusers').click(function(e) {
                e.preventDefault();
                let postid = $(this).attr('data-postId');
                let groupid = $(this).attr('data-groupId');
                let that = this;

                // console.log(postid,groupid);
                swal({
                        title: "Notify All Students",
                        text: "Once you click ok this will notify all students",
                        icon: "warning",
                        buttons: true,
                        showCancelButton: true,
                    })
                    .then((willDelete) => {

                        console.log('here',willDelete);
                        if (willDelete.value == true) {
                            $.ajax({
                                url: "/admins/postlistpassingdata/notify/"+postid+"/"+groupid+"/1",
                                type: "get",
                                // data: {
                                //      'id': postid,
                                //     '_token': '{{ csrf_token() }}'
                                // },
                                success: function(response) {
                                    if (response.response.type == "success") {
                                        swal({
                                            type: "success",
                                            title: "Notification have been pushed",
                                            icon: "success",
                                        });
                                        // $(that).hide();
                                        setTimeout(function() {
                                            window.location.reload();
                                        }, 1000)
                                    }
                                }
                            });
                        } 
                    });
            });

</script>

   <% if (response != '') { %>
    <script>
     Swal(
        '<%= response.type %>',
        '<%= response.msg %>',
        '<%= response.type %>'
    ).then(function() {
            window.location.href = "/admins/postlistpassingdata";
        })
   </script>
   <% } %>