<div class="col-lg-12">
  <div class="main-card mb-3 card">
    <div class="card-body">
      <div class="card-title">Filter Posts</div>
      <form class="row form-inline filter-form post-filter ">
        <div class="col-md-2 mb-2 mb-sm-0 position-relative form-group">
          <label for="school" class="mr-sm-2">School</label>
          <input name="school" id="school" placeholder="School name" type="text" class="w-100 form-control"
            value="<%= schoolQuery %>">
        </div>
        <div class="col-md-2 mb-2 mb-sm-0 position-relative form-group">
          <label for="course" class="mr-sm-2">Course</label>
          <input name="course" id="course" placeholder="Course name" type="text" class="w-100 form-control"
            value="<%= courseQuery %>">
        </div>
        <div class="col-md-2 mb-2 mb-sm-0 position-relative form-group">
          <label for="section" class="mr-sm-2">Section</label>
          <input name="section" id="section" placeholder="Section name" type="text" class="w-100 form-control"
            value="<%= sectionQuery %>">
        </div>
        <div class="col-md-6 mb-2 mb-2 mb-sm-0 position-relative form-group ">
          <label for="post" class="mr-sm-2">Post Title</label>
          <input name="post" id="post" placeholder="Post title" type="text" class="form-control w-100"
            value="<%= postQuery %>">
        </div>
        <div class="col-12 mt-3">
        <button class="btn btn-primary px-5">Filter</button>
        
        <!--<div class="post-type-wrapper">
          <div role="group" class="btn-group-lg btn-group btn-group-toggle post-filter-type" data-toggle="buttons">
            <label class="btn btn-focus <%= postType === 'all' ? `active` : ``%>">
              <input type="radio" name="options" id="option7" autocomplete="off" value="all"
                <%= postType === 'all' ? `checked` : ``%>>
              All
            </label>
            <label class="btn btn-focus <%= postType === 'reported' ? `active` : ``%>">
              <input type="radio" name="options" id="option8" autocomplete="off" value="reported"
                <%= postType === 'reported' ? `checked` : ``%>>
              Reported
            </label>
            <label class="btn btn-focus <%= postType === 'removed' ? `active` : ``%>">
              <input type="radio" name="options" id="option9" autocomplete="off" value="removed"
                <%= postType === 'removed' ? `checked` : ``%>>
              Removed
            </label>
          </div>
        </div> -->
        </div>
      </form>
    </div>
  </div>
</div>
