
<div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="card-title">Set new password</div>
            <form class="form-horizontal" action="" method="post">
                    <!-- @csrf -->
                    <!-- text input -->
                    <div class="form-group">
                        <label for="title">Password</label>
                        <input type="text" id="name" name="university.name" class="form-control"
                            placeholder="University Name" value="">
                    </div>

                    <div class="form-group">
                        <label for="name">Confrim password</label>
                        <input type="text" id="domains" name="university.domains" class="form-control"
                            placeholder="Domain" value="">
                    </div>
                    <button type="submit" class="mt-1 btn btn-primary pull-left">Save</button>

            
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>

</script>
