<script src="/js/main.js"></script>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
<script src="/js/header.js"></script>
<script src="/js/customize.js"></script>

