
<!-- third party css -->
<link href="/admin/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="/admin/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="/admin/libs/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />
<!-- third party css end -->

<!-- Start Content-->
<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <!-- <a href="" class="my-2 btn btn-success">
                Add New
                <i class="fa fa-plus"></i>
            </a> -->
            <div class="card-box table-responsive">

                <table id="sectionsTable" class="table table-bordered dt-responsive nowrap" style="width:100%;">
                    <thead>
                        <tr>
                            <th width="10px">#</th>
                            <th>Course</th>
                            <th>Section</th>
                            <th>University</th>
                            <th>Members</th>
                            <th>Group</th>
                            <th width="10px">Status</th>
                            <!-- <th width="200px">Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <% list.forEach(function(sec,key){ %> 
                        <tr>
                            <td><%= key+1 %></td>
                            <!-- <td style="width: 50px;"><img id="image" src="{{asset($brands->image)}}" alt="" style="width:30px;" /> </td> -->
                            <td><%= sec.course.name %></td>
                            <td><%= sec.section.name %></td>
                            <td><%= sec.university.name %></td>
                            <td><%= sec.memberCount %></td>
                            <td><%= sec.grouptype %></td>
                            <!-- <td>
                            @foreach ($brands->category as $key=> $bcategory)
                            {{$bcategory->title}},
                            @endforeach</td> -->
                            <!-- <td>{{ Str::limit($brands->description, 25) }}</td> -->
                            <td>
                                <% if (sec.isDeleted === false) { %>
                                <span class="badge badge-success">Enable</span>
                                <% } else { %>
                                <span class="badge badge-danger">Disabled</span>
                                <% } %>
                            </td>
                            <!-- <td>
                                <a class="btn btn-info btn-sm text-white cursor-pointer" href="{{ route('brands.edit',['id'=>$brands->id])}}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-danger btn-sm text-white cursor-pointer" href="{{ route('brands.delete',['id'=>$brands->id])}}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td> -->
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- container-fluid -->

</div>
<!-- content -->




<!-- third party js -->
<script src="/admin/libs/datatables/jquery.dataTables.min.js"></script>
<script src="/admin/libs/datatables/dataTables.bootstrap4.js"></script>
<script src="/admin/libs/datatables/dataTables.responsive.min.js"></script>
<script src="/admin/libs/datatables/responsive.bootstrap4.min.js"></script>
<!-- third party js ends -->
<script>
      
      $('#sectionsTable').DataTable();

</script>