<div class="col-lg-12">
  <div class="main-card mb-3 card">
    <div class="card-body">
      <ul class="list">
        <li class="list-row list-row_head">
          <div class="row-field row-field_number">#</div>
          <div class="row-field row-field_section-name">Name</div>
          <div class="row-field row-field_section-school">School</div>
          <div class="row-field row-field_section-details">Details</div>
        </li>
        <%-
          list.map((section, index) => `
            <li class="list-row" data-id="${section._id}">
              <div class="row-field row-field_number">${((pagination.page - 1) * pagination.limit) + index + 1}</div>
              <div class="row-field row-field_section-name">
                <div class="name-info">
                  <div class="full-name">
                    <div class="ellipsis-text">${section.course.name} - ${section.section.name[0] + section.section.name.slice(1).toLowerCase()}</div>
                  </div>
                  <div class="meta-info">
                    <span class="section-number">${section.section.number}</span>
                    ${
                      section.section.category !== 'none' ?
                      `<span class="section-category badge-category-${section.section.category}">${section.section.category}</span>` :
                      ``
                    }
                  </div>
                </div>
              </div>
              <div class="row-field row-field_section-school">
                ${section.school}
              </div>
              <div class="row-field row-field_section-details">
                <a href="/admins/students?school=${section.school}&course=${section.course.name}&section=${section.section.name}" class="member-detail fontello-icon-user ${section.memberCount ? `` : `disabled`}" ${section.memberCount ? `data-count="${section.memberCount}"`: ``}  data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to see the members list"></a>
                <a href="/admins/posts?school=${section.school}&course=${section.course.name}&section=${section.section.name}" class="post-detail fontello-icon-doc-text-inv ${section.postCount ? `` : `disabled`}" ${section.postCount ? `data-count="${section.postCount}"`: ``} data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to see the posts list"></a>
              </div>
            </li>
          `).join('')
        %>
      </ul>
    </div>
    <%- include ('./pagination.ejs', { ...pagination }) -%>
  </div>
</div>
