<div class="col-lg-12">
  <div class="main-card mb-3 card">
    <div class="card-body">
      <div class="card-title">Filter Classes</div>
      <form class="form-inline filter-form">
        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <label for="school" class="mr-sm-2">School</label>
          <input name="school" id="school" placeholder="School name" type="text" class="form-control" value="<%= schoolQuery %>">
        </div>
        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <label for="course" class="mr-sm-2">Course</label>
          <input name="course" id="course" placeholder="Course name" type="text" class="form-control" value="<%= courseQuery %>">
        </div>
        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <label for="section" class="mr-sm-2">Section</label>
          <input name="section" id="section" placeholder="Section name" type="text" class="form-control" value="<%= sectionQuery %>">
        </div>
        <button class="btn btn-primary">Filter</button>
      </form>
    </div>
  </div>
</div>
