
<!-- third party css -->
<link href="/admin/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="/admin/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="/admin/libs/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />
<!-- third party css end -->

<!-- Start Content-->
<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <!-- <a href="" class="my-2 btn btn-success">
                Add New
                <i class="fa fa-plus"></i>
            </a> -->
            <div class="card-box table-responsive">

                <table id="sectionsTable" class="table table-bordered dt-responsive nowrap" style="width:100%;">
                    <thead>
                        <tr>
                            <th width="10px">#</th>
                            <!-- <th>section Id</th> -->
                            <th>Course</th>
                            <th>Section</th>
                            <th>Description</th>
                            <th>Group name</th>
                            <th>University</th>
                            <th>Members</th>
                            <th>Group</th>
                            <th width="10px">Status</th>
                            <th width="100px">Details</th>
                            <th width="10px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
                        list.map((section, index) => {%>
                        <tr>
                            <!-- <td style="width: 50px;"><img id="image" src="{{asset($brands->image)}}" alt="" style="width:30px;" /> </td> -->
                            <td><%= ((pagination.page - 1) * pagination.limit) + index + 1 %></td>
                            <!-- <td> <%= section._id %> -->
                            <td> <%= section.course.name %>
                                <div class="meta-info">
                                    <span class="section-number"><%= section.section.number %></span>
                                    <% if (section.section.category !== 'none') { %>
                                    <span class="section-category badge-category-<%=section.section.category%>"><%= section.section.category %></span>
                                    <% } %>
                                </div>
                            </td>
                            <td> <%=section.section.name %></td>
                            <td> <%=section.group?section.group.description:'' %></td>
                            <td> <%=section.group?section.group.name:'' %></td>
                            <td> <%=section.university.name %></td>
                            <td> <%=section.memberCount %></td>

                            <% if (section.grouptype === undefined) { %>
                            <td>classgroup</td>
                            <% } else { %>
                            <td> <%=section.grouptype %></td>
                            <% } %>

                            <td>
                                    <% if (section.isDeleted === false) { %>
                                    <span class="badge badge-success">Enable</span>
                                    <% } else { %>
                                    <span class="badge badge-danger">Disabled</span>
                                    <% } %>
                            </td>

                            <td>
                                <a href="/admins/students?school=<%=section.school%>&course=<%=section.course.name%>&section=<%=section.section.name%>" class="member-detail fontello-icon-user    <%=section.memberCount ? `` : `disabled`%>"  <%= section.memberCount ? `data-count=${section.memberCount}`: `` %>  data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to see the members list"></a>
                                <a href="/admins/posts?school=<%=section.school%>&course=<%=section.course.name%>&section=<%=section.section.name%>" class="post-detail fontello-icon-doc-text-inv <%=section.postCount ? ``   : `disabled`%>"  <%= section.postCount   ? `data-count=${section.postCount}`  : `` %>  data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to see the posts list"></a>

                            </td>

                            <td>
                                <a class="btn btn-info btn-sm text-white cursor-pointer" href="/admins/sectionlistpassingdata/<%=section._id%>">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <!-- <a class="btn btn-danger btn-sm text-white cursor-pointer" href="{{ route('brands.delete',['id'=>$brands->id])}}">
                                    <i class="fa fa-trash"></i>
                                </a> -->
                            </td>
                        </tr> 
                       <% }).join('')
                        %>
                    </tbody>
                </table>
            </div>
        </div>
        <%- include ('./pagination.ejs', { ...pagination }) -%>
    </div>

    <!-- container-fluid -->

</div>
<!-- content -->




<script src="/admin/libs/datatables/jquery.dataTables.min.js"></script>
<script src="/admin/libs/datatables/dataTables.bootstrap4.js"></script>
<script src="/admin/libs/datatables/dataTables.responsive.min.js"></script>
<script src="/admin/libs/datatables/responsive.bootstrap4.min.js"></script>
<script>
      
      $('#sectionsTable').DataTable();

</script>