<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                    data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button"
                class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading">Students Management</li>
                <!-- <li>
                    <a href="/admins/students" class="<%= active === 'students' ? 'mm-active' : '' %>">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Students
                    </a>
                </li> -->
  
                <li class="<%= active === 'students' ? 'mm-active' : '' %>">
                  <a href="#" class="<%= active === 'students' ? 'mm-active' : '' %>">
                      <i class="metismenu-icon pe-7s-display2"></i>
                      Students
                      <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                  </a>
                  <ul>
                      <li class="<%= active === 'students' ? 'mm-active' : '' %>">
                          <a href="/admins/students" class="<%= active === 'students' ? 'mm-active' : '' %>">
                              <i class="metismenu-icon"></i>
                              List
                          </a>
                      </li>
                  </ul>
              </li>
  
                <li class="app-sidebar__heading">Sections Management</li>
                <!-- <li>
                    <a href="/admins/sections" class="<%= active === 'sections' ? 'mm-active' : '' %>">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Sections
                    </a>
                </li> -->
  
  
                
                <li class="<%= (active === 'sections' || active === 'addsection') ? 'mm-active' : '' %>">
                  <a href="#" class="<%= (active === 'sections' || active === 'addsection') ? 'mm-active' : '' %>">
                      <i class="metismenu-icon pe-7s-display2"></i>
                      Sections
                      <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                  </a>
                  <ul>
                      <!-- <li class="<%= active === 'sections' ? 'mm-active' : '' %>">
                          <a href="/admins/sections" class="<%= active === 'sections' ? 'mm-active' : '' %>">
                              <i class="metismenu-icon"></i>
                              List
                          </a>
                      </li> -->
  
                      <!-- <li class="<%= active === 'sectionlistpassingdata1' ? 'mm-active' : '' %>">
                          <a href="/admins/sectionlistpassingdata1" class="<%= active === 'sectionlistpassingdata1' ? 'mm-active' : '' %>">
                              <i class="metismenu-icon"></i>
                              New List
                          </a>
                      </li> -->
                      
                      <li class="<%= active === 'sectionlistpassingdata' ? 'mm-active' : '' %>">
                          <a href="/admins/sectionlistpassingdata" class="<%= active === 'sectionlistpassingdata' ? 'mm-active' : '' %>">
                              <i class="metismenu-icon"></i>
                              List
                          </a>
                      </li>
                      
                      <li class="<%= active === 'addsection' ? 'mm-active' : '' %>">
                          <a href="/admins/addsection" class="<%= active === 'addsection' ? 'mm-active' : '' %>">
                              <i class="metismenu-icon"></i>
                              Add New
                          </a>
                      </li>
                  </ul>
              </li>
  
                <li class="app-sidebar__heading">Posts Management</li>
                <!-- <li>
                    <a href="/admins/posts" class="<%= active === 'posts' ? 'mm-active' : '' %>">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Posts
                    </a>
                </li> -->
  
                <li class="<%= active === 'posts' ? 'mm-active' : '' %>">
                  <a href="#" class="<%= active === 'posts' ? 'mm-active' : '' %>">
                      <i class="metismenu-icon pe-7s-display2"></i>
                      Posts
                      <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                  </a>
                  <ul>
                      <!-- <li>
                          <a href="/admins/posts" class="<%= active === 'posts' ? 'mm-active' : '' %>">
                              <i class="metismenu-icon"></i>
                              List
                          </a>
                      </li> -->
  
                      <li class="<%= active === 'postlistpassingdata' ? 'mm-active' : '' %>">
                          <a href="/admins/postlistpassingdata" class="<%= active === 'postlistpassingdata' ? 'mm-active' : '' %>">
                              <i class="metismenu-icon"></i>
                              List
                          </a>
                      </li>
                  </ul>
              </li>
  
              <li class="app-sidebar__heading" >University Management</li>
              <!-- <li>
                  <a href="/admins/adduniversity" class="<%= active === 'adduniversity' ? 'mm-active' : '' %>">
                      <i class="metismenu-icon pe-7s-display2"></i>
                      Add University
                  </a>
              </li> -->
  
              <li class="<%= active === 'adduniversity' ? 'mm-active'  : '' %>">
                  <a href="#" class="<%= active === 'adduniversity' ? 'mm-active'  : '' %>">
                      <i class="metismenu-icon pe-7s-display2 "></i>
                      University
                      <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                  </a>
                  <ul>
                      <li>
                          <a href="/admins/universitylistpassingdata" class="<%= active === 'universitylistpassingdata' ? 'mm-active' : '' %>">
                              <i class="metismenu-icon"></i>
                              List
                          </a>
                      </li>
                      <li>
                          <a href="/admins/adduniversity" class="<%= active === 'adduniversity' ? 'mm-active' : '' %>">
                              <i class="metismenu-icon"></i>
                              Add New
                          </a>
                      </li>
                  </ul>
              </li>
  
              <li class="app-sidebar__heading">Groups Management</li>                      
                      <li class="<%= (active === 'groups' || active === 'addgroup') ? 'mm-active' : '' %>">
                          <a href="#" class="<%= (active === 'groups' || active === 'addgroup') ? 'mm-active' : '' %>">
                              <i class="metismenu-icon pe-7s-display2"></i>
                              Campus Groups
                              <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                          </a>
                          <ul>                            
                              <li class="<%= active === 'grouplistpassingdata' ? 'mm-active' : '' %>">
                                  <a href="/admins/grouplistpassingdata" class="<%= active === 'grouplistpassingdata' ? 'mm-active' : '' %>">
                                      <i class="metismenu-icon"></i>
                                      List
                                  </a>
                              </li>
                              
                              <li class="<%= active === 'addgroup' ? 'mm-active' : '' %>">
                                  <a href="/admins/addgroup" class="<%= active === 'addgroup' ? 'mm-active' : '' %>">
                                      <i class="metismenu-icon"></i>
                                      Add New
                                  </a>
                              </li>
                          </ul>
                      </li>

              <li class="app-sidebar__heading">Settings Management</li>                      

                    <li class="<%= (active === 'groups' || active === 'editsettings') ? 'mm-active' : '' %>">
                          <a href="#" class="<%= (active === 'editsettings' || active === 'editsettings') ? 'mm-active' : '' %>">
                              <i class="metismenu-icon pe-7s-display2"></i>
                              Settings
                              <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                          </a>
                          <ul>                                                          
                              <li class="<%= active === 'editsettings' ? 'mm-active' : '' %>">
                                  <a href="/admins/editsettings" class="<%= active === 'editsettings' ? 'mm-active' : '' %>">
                                      <i class="metismenu-icon"></i>
                                      Notifications
                                  </a>
                              </li>
                          </ul>
                      </li>
                  
                  
                  
                  </ul>
              </li>
          </ul>
        </div>
    </div>
  </div>
  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  