<div class="col-lg-12">
  <div class="main-card mb-3 card">
    <div class="card-body">
      <button type="button" id="export-csv" class="btn btn-primary btn-md" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download .csv file">Export Students</button>
      <ul class="list">
        <li class="list-row list-row_head">
          <div class="row-field row-field_number">#</div>
          <div class="row-field row-field_name">Name</div>
          <div class="row-field row-field_email">Email</div>
          <div class="row-field row-field_date">Date Created</div>
          <div class="row-field row-field_status">Status</div>
          <div class="row-field row-field_details">Details</div>
          <div class="row-field row-field_actions">Actions</div>
        </li>
        <%-
          list.map((student, index) => `
            <li class="list-row" data-id="${student._id}">
              <div class="row-field row-field_number">${((pagination.page - 1) * pagination.limit) + index + 1}</div>
              <div class="row-field row-field_name">
                <div class="profile-photo">
                  <img src="${student.photo || `/images/no-pic.jpg`}" alt="">
                </div>
                <div class="name-info">
                  <div class="full-name ${student.verification.isVerified ? `fontello-icon-ok` : ``}">
                    <div class="ellipsis-text">${student.firstName} ${student.lastName}</div>
                  </div>
                  <div class="meta-info">
                    ${student.major ? `<span class="major">${student.major}</span>` : ``}
                    <span class="username">${student.username}</span>
                  </div>
                </div>
              </div>
              <div class="row-field row-field_email">
                <div class="ellipsis-text">${student.email}</div>
              </div>
              <div class="row-field row-field_date">
                <div class="ellipsis-text">${student.createdAt}</div>
              </div>
              <div class="row-field row-field_status">
                ${
                  ((blockStatus, verificationStatus) => {
                    let studentStatus = '';
                    switch (blockStatus) {
                      case 'UNVERIFIED':
                      case 'NOT_BLOCKED':
                        studentStatus += `<div class="mb-2 mr-2 badge badge-pill badge-secondary">Not Blocked</div>`
                        break;
                      case 'TOTAL_BLOCKED':
                        studentStatus += `<div class="mb-2 mr-2 badge badge-pill badge-danger">Total Blocked</div>`
                        break;
                      case 'WRITE_BLOCKED':
                        studentStatus += `<div class="mb-2 mr-2 badge badge-pill badge-warning">Write Blocked</div>`
                        break;
                    }
                    switch (verificationStatus) {
                      case 'VERIFIED_STUDENT':
                        studentStatus += `<div class="mb-2 mr-2 badge badge-pill badge-success">Verified student</div>`
                        break;
                      case 'UNIVERSITY_FACULTY':
                        studentStatus += `<div class="mb-2 mr-2 badge badge-pill badge-info">University faculty</div>`
                        break;
                      case 'UNVERIFIED_ID':
                        studentStatus += `<div class="mb-2 mr-2 badge badge-pill badge-danger">Unverified ID</div>`
                        break;
                    }
                    return studentStatus;
                  })(student.blockStatus, student.verification.status)
                }
              </div>
              <div class="row-field row-field_details">
                <a href="/admins/sections?student=${student._id}" class="student-detail fontello-icon-group ${student.groupCount ? `` : `disabled`}" ${student.groupCount ? `data-count="${student.groupCount}"`: ``} data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to see the section list"></a>
              </div>
              <div class="row-field row-field_actions">
                <div class="dropdown-more">
                  <button class="dropdown-toggle-btn"></button>
                  <div class="dropdown-list">
                    <a href="/admins/students/${student._id}/block" data-block="NOT_BLOCKED" ${student.blockStatus === 'NOT_BLOCKED' || student.blockStatus === 'UNVERIFIED' ? `class="active"` : ``}>Unblock</a>
                    <a href="/admins/students/${student._id}/block" data-block="WRITE_BLOCKED" ${student.blockStatus === 'WRITE_BLOCKED' ? `class="active"` : ``}>Write Block</a>
                    <a href="/admins/students/${student._id}/block" data-block="TOTAL_BLOCKED" ${student.blockStatus === 'TOTAL_BLOCKED' ? `class="active"` : ``}>Total Block</a>
                  </div>
                </div>
              </div>
            </li>
          `).join('')
        %>
      </ul>
    </div>
    <%- include ('./pagination.ejs', { ...pagination }) -%>
  </div>
</div>
