
<!-- third party css -->
<link href="/admin/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="/admin/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="/admin/libs/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />
<!-- third party css end -->

<!-- Start Content-->
<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <!-- <a href="" class="my-2 btn btn-success">
                Add New
                <i class="fa fa-plus"></i>
            </a> -->
            <div class="card-box table-responsive">

                <table id="universitiesTable" class="table table-bordered dt-responsive nowrap" style="width:100%;">
                    <thead>
                        <tr>
                            <th width="10px">#</th>
                            <th>University</th>
                            <th>Domain</th>
                            <th width="10px">Status</th>
                            <th width="10px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
                        list.map((unidata, index) => {%>
                        <tr>
                            
                            <td><%= ((pagination.page - 1) * pagination.limit) + index + 1 %></td>
                            <td> <%=unidata.university.name %></td>
                            <td> <%=unidata.university.domains %></td>
                            <td>
                                    <% if (unidata.isDeleted === false) { %>
                                    <span class="badge badge-success">Enable</span>
                                    <% } else { %>
                                    <span class="badge badge-danger">Disabled</span>
                                    <% } %>
                            </td>
                            <td>
                                <a class="btn btn-info btn-sm text-white cursor-pointer" href="/admins/universitylistpassingdata/<%=unidata._id%>">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr> 
                       <% }).join('')
                        %>
                    </tbody>
                </table>
            </div>
        </div>
        <%- include ('./pagination.ejs', { ...pagination }) -%>
    </div>

    <!-- container-fluid -->

</div>
<!-- content -->




<!-- third party js -->
<script src="/admin/libs/datatables/jquery.dataTables.min.js"></script>
<script src="/admin/libs/datatables/dataTables.bootstrap4.js"></script>
<script src="/admin/libs/datatables/dataTables.responsive.min.js"></script>
<script src="/admin/libs/datatables/responsive.bootstrap4.min.js"></script>
<!-- third party js ends -->
<script>
      
      $('#universitiesTable').DataTable();

</script>