.input_error {
    border-color: #ff5b5b;
}

.error_msg {
    color: red;
    font-size: 12px;
}

.t-danger {
    color: red
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #35b8e0 !important;
}
.t-danger { color:red }

.s-c{
  display: flex; 
  align-items: center; 
  justify-content: center;
}


/* .img-wrap {
    position: relative;
    display: inline-block;
    border: 1px red solid;
    font-size:0px ;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 2px;
    line-height: 10px;
    border-radius: 50%;
    float:left !important;
}
.img-wrap:hover .close {
    opacity: 1;
} */

/* body {
    padding: 20px;
  } */
  .image-area {
    position: relative;
    width: 30%;
    background: #333;
  }
  .image-area img{
    max-width: 100%;
    height: auto;
  }
  .remove-image {
  display: none;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 10em;
  padding: 2px 6px 3px;
  text-decoration: none;
  font: 700 21px/20px sans-serif;
  background: #555;
  border: 3px solid #fff;
  color: #FFF;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
  }
  .remove-image:hover {
   background: #E54E4E;
    padding: 3px 7px 5px;
    top: -11px;
  right: -11px;
  }
  .remove-image:active {
   background: #E54E4E;
    top: -10px;
  right: -11px;
  }