@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello/fontello.eot?77771192");
  src: url("../fonts/fontello/fontello.eot?77771192#iefix") format("embedded-opentype"),
    url("../fonts/fontello/fontello.woff2?77771192") format("woff2"),
    url("../fonts/fontello/fontello.woff?77771192") format("woff"),
    url("../fonts/fontello/fontello.ttf?77771192") format("truetype"),
    url("../fonts/fontello/fontello.svg?77771192#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?77771192#fontello') format('svg');
  }
}
*/

[class^="fontello-icon-"]:before,
[class*="fontello-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fontello-icon-dot-3:before { content: '\e800'; } /* '' */
.fontello-icon-trash:before { content: '\e801'; } /* '' */
.fontello-icon-picture-1:before { content: '\e802'; } /* '' */
.fontello-icon-ok:before { content: '\e803'; } /* '' */
.fontello-icon-user:before { content: '\e804'; } /* '' */
.fontello-icon-eye-off:before { content: '\e805'; } /* '' */
.fontello-icon-cancel:before { content: '\e806'; } /* '' */
.fontello-icon-left-open:before { content: '\e807'; } /* '' */
.fontello-icon-right-open:before { content: '\e808'; } /* '' */
.fontello-icon-comment-alt:before { content: '\e809'; } /* '' */
.fontello-icon-group:before { content: '\e80a'; } /* '' */
.fontello-icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.fontello-icon-user-secret:before { content: '\f21b'; } /* '' */
