@import "./fontello";
@import "./reset";

/*# sourceMappingURL=customize.css.map */

.ellipsis-text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.two-lines-text {
  width: 100%;
  overflow: hidden;
  height: 40px;
  white-space: break-spaces;
}

.status {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 5px 0;
  font-size: 20px;
  &-restricted {
    color: #633e71;
  }
  &-anonymous {
    color: #23272b;
    background: url("../images/incognito.svg") no-repeat center center;
    background-size: 18px 18px;
  }
  &-reported {
    background-color: #f7b924;
    color: #212529;
    font-size: 12px;
    width: auto;
    padding: 0 7px;
    cursor: pointer;
    &:hover {
      background-color: #eca909;
    }
    .badge {
      margin-left: 5px;
    }
  }
}

.dropdown-more {
  position: relative;
  .dropdown-toggle-btn {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    &::before {
      content: "...";
      width: 100%;
      margin-top: -30%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bolder;
      font-size: 20px;
      color: #666666;
    }
    &:hover,
    &:focus {
      background-color: #eee;
    }
  }
  .dropdown-list {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
      0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    padding: 0.65rem 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    a {
      padding: 0.4rem 1.5rem;
      color: #16181b;
      text-decoration: none;
      text-align: center;
      &:hover {
        background-color: #e0f3ff;
      }
      &.active {
        pointer-events: none;
        color: #3f6ad8;
        font-weight: bold;
      }
    }
    &.show {
      opacity: 1;
      top: 100%;
      pointer-events: auto;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  .list-row {
    display: flex;
    border-bottom: 1px solid #eee;
    background-color: #ffffff;
    position: relative;
    &:last-child {
      border-bottom: none;
    }
    &_head {
      .row-field {
        font-weight: bold;
      }
    }
    .row-field {
      white-space: nowrap;
      padding: 10px;
      display: flex;
      align-items: center;
      &_number {
        width: 60px;
        font-weight: bold;
      }
      &_name {
        width: 220px;
        .profile-photo {
          width: 40px;
          min-width: 40px;
          height: 40px;
          margin-right: 10px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .name-info {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          .full-name {
            display: flex;
            align-items: center;
            font-weight: 600;
            &::before {
              order: 2;
              background-color: #65d430;
              color: #fff;
              border-radius: 50%;
              font-size: 8px;
              width: 14px;
              height: 14px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .meta-info {
            font-size: 13px;
            display: flex;
            .major {
              color: #909ca8;
              margin-right: 5px;
            }
            .username {
              display: flex;
              color: #3e74aa;
              &::before {
                content: "@";
              }
            }
            .date {
              color: #999;
            }
          }
        }
      }
      &_section-name {
        width: 250px;
        .name-info {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          .full-name {
            display: flex;
            align-items: center;
            font-weight: 600;
          }
          .meta-info {
            font-size: 13px;
            display: flex;
            .section-number {
              color: #ff4577;
              font-weight: bolder;
              font-size: 14px;
              line-height: 17px;
              margin-right: 5px;
            }
            .section-category {
              border-radius: 3px;
              padding: 0 6px 2px;
              &.badge-category-lecture {
                background-color: #ebdfff;
                color: #b6f;
              }
              &.badge-category-discussion {
                background-color: #d1e6f9;
                color: #4686f6;
              }
              &.badge-category-lab {
                background-color: #d4f4c2;
                color: #62b943;
              }
              &.badge-category-tutorial {
                background-color: #f9e1cb;
                color: #f49b49;
              }
              &.badge-category-practical {
                background-color: #f9d3d3;
                color: #f06f6f;
              }
              &.badge-category-seminar {
                background-color: #f9ffb6;
                color: #a1ac25;
              }
            }
          }
        }
      }
      &_title {
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .title {
          font-weight: 600;
          width: 100%;
        }
        .section-name {
          width: 100%;
          font-size: 11px;
          font-weight: bold;
          color: #999;
          letter-spacing: -0.5px;
        }
      }
      &_description {
        flex: 1;
      }
      &_email {
        width: 200px;
      }
      &_date {
        width: 110px;
      }
      &_school {
        width: 200px;
        justify-content: center;
      }
      &_section-school {
        flex: 1;
        min-width: 200px;
        justify-content: center;
      }
      &_status {
        min-width: 100px;
        flex: 1;
        justify-content: center;
      }
      &_comment-status,
      &_post-status {
        width: 200px;
        justify-content: center;
      }
      &_actions {
        width: 80px;
        justify-content: center;
        .photo-btn,
        .remove-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 40px;
          &::before {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .item-removed {
          height: 30px;
          width: 40px;
          min-width: 40px;
          background: url("../images/eraser.svg") no-repeat center 2px;
          background-size: 18px 18px;
        }
      }
      &_details {
        width: 70px;
        justify-content: center;
        .student-detail,
        .comment-detail {
          position: relative;
          display: flex;
          align-items: center;
          &::after {
            content: attr(data-count);
            font-size: 12px;
            margin: -2px 0 0 1px;
          }
          &.disabled {
            pointer-events: none;
            color: #bbb;
          }
        }
      }
      &_section-details {
        width: 100px;
        justify-content: center;
        .member-detail,
        .post-detail {
          position: relative;
          display: flex;
          align-items: center;
          margin-right: 10px;
          &::after {
            content: attr(data-count);
            font-size: 12px;
            margin: -2px 0 0 1px;
          }
          &.disabled {
            pointer-events: none;
            color: #bbb;
          }
        }
        .post-detail {
          color: #3ac47d;
        }
      }
    }
    &_removed {
      > *,
      .photo-btn {
        opacity: 0.4;
      }
      .row-field_actions {
        opacity: 1;
      }
    }
    &_child {
      position: relative;
      height: 0;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s;
      &::before {
        // content: "";
        position: absolute;
        left: -15px;
        top: -38px;
        z-index: -10;
        width: 30px;
        height: 70px;
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;
        border-radius: 5px;
      }
      &_0 {
        margin-left: 45px;
        z-index: 1;
      }
      &_1 {
        margin-left: 90px;
        z-index: 0;
      }
      &.show {
        height: 62px;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(#000, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  .modal-container {
    width: 100%;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0.76875rem 2.4875rem rgba(52, 58, 64, 0.3), 0 1.3375rem 1.70625rem rgba(52, 58, 64, 0.3),
      0 0.55rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.225rem 0.4375rem rgba(52, 58, 64, 0.3);
    background-color: #ffffff;
    overflow: hidden;
    margin-top: -100px;
    transition: all 0.3s;
    &_photo {
      max-width: 500px;
      position: relative;
      .slider-wrapper {
        width: 100%;
        display: flex;
        background-color: #000;
        figure {
          height: 100%;
          width: 0;
          margin: 0;
          overflow: hidden;
          transition: width 0.2s;
          img {
            width: 100%;
            height: 100%;
          }
          &.active {
            width: 100%;
          }
        }
      }
      .slider-arrow-prev,
      .slider-arrow-next {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 150px;
        z-index: 1;
        cursor: pointer;
        color: #fff;
        font-size: 30px;
        display: flex;
        align-items: center;
        opacity: 0;
        transition: all 0.5s;
        &:hover {
          opacity: 1;
        }
      }
      .slider-arrow-prev {
        background-image: linear-gradient(to right, rgba(#000, 0.5), transparent);
        left: 0;
        justify-content: flex-start;
        &::before {
          margin-left: 20px;
        }
      }
      .slider-arrow-next {
        background-image: linear-gradient(to left, rgba(#000, 0.5), transparent);
        right: 0;
        justify-content: flex-end;
        &::before {
          margin-right: 20px;
        }
      }
    }
    &_reports {
      max-width: 200px;
      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        li {
          width: 100%;
          padding: 5px 10px;
          background-color: #333;
          color: #ffffff;
          border-radius: 3px;
          margin: 0 10px 10px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          .badge {
            margin-left: 7px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &.show {
    opacity: 1;
    pointer-events: auto;
    .modal-container {
      margin-top: 0;
    }
  }
}

.post-filter {
  .post-type-wrapper {
    width: 100%;
    .post-filter-type {
      margin: 10px 5px 0 0;
      label {
        font-size: 12px;
        padding: 7px 15px;
      }
    }
  }
}
.comment-filter {
  .comment-filter-type {
    margin-right: 5px;
    label {
      font-size: 12px;
      padding: 7px 12px;
    }
  }
}

.no-data {
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
}

.pagination {
  justify-content: center;
  padding-bottom: 20px;
  .page-item.active .page-link {
    pointer-events: none;
  }
}

.fixed-sidebar .app-main .app-main__outer {
  max-width: 100%;
}

.app-sidebar {
  width: 250px;
  min-width: 250px;
}

.fixed-sidebar .app-main .app-main__outer {
  padding-left: 250px;
}

.app-header__logo {
  width: 250px;
}
