@charset "UTF-8";
@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello/fontello.eot?77771192");
  src: url("../fonts/fontello/fontello.eot?77771192#iefix") format("embedded-opentype"), url("../fonts/fontello/fontello.woff2?77771192") format("woff2"), url("../fonts/fontello/fontello.woff?77771192") format("woff"), url("../fonts/fontello/fontello.ttf?77771192") format("truetype"), url("../fonts/fontello/fontello.svg?77771192#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?77771192#fontello') format('svg');
  }
}
*/
[class^="fontello-icon-"]:before,
[class*="fontello-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fontello-icon-dot-3:before {
  content: '\e800';
}

/* '' */
.fontello-icon-trash:before {
  content: '\e801';
}

/* '' */
.fontello-icon-picture-1:before {
  content: '\e802';
}

/* '' */
.fontello-icon-ok:before {
  content: '\e803';
}

/* '' */
.fontello-icon-user:before {
  content: '\e804';
}

/* '' */
.fontello-icon-eye-off:before {
  content: '\e805';
}

/* '' */
.fontello-icon-cancel:before {
  content: '\e806';
}

/* '' */
.fontello-icon-left-open:before {
  content: '\e807';
}

/* '' */
.fontello-icon-right-open:before {
  content: '\e808';
}

/* '' */
.fontello-icon-comment-alt:before {
  content: '\e809';
}

/* '' */
.fontello-icon-group:before {
  content: '\e80a';
}

/* '' */
.fontello-icon-doc-text-inv:before {
  content: '\f15c';
}

/* '' */
.fontello-icon-user-secret:before {
  content: '\f21b';
}

/* '' */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ellipsis-text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.two-lines-text {
  width: 100%;
  overflow: hidden;
  height: 50px;
  white-space: break-spaces;
}
/* .two-lines-text1 {
  width: 100%;
  overflow: hidden;
  height: 60px;
  white-space: break-spaces;
} */

.status {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px 5px 0;
  font-size: 20px;
}

.status-restricted {
  color: #633e71;
}

.status-anonymous {
  color: #23272b;
  background: url("../images/incognito.svg") no-repeat center center;
  background-size: 18px 18px;
}

.status-reported {
  background-color: #f7b924;
  color: #212529;
  font-size: 12px;
  width: auto;
  padding: 0 7px;
  cursor: pointer;
}

.status-reported:hover {
  background-color: #eca909;
}

.status-reported .badge {
  margin-left: 5px;
}

.dropdown-more {
  position: relative;
}

.dropdown-more .dropdown-toggle-btn {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.dropdown-more .dropdown-toggle-btn::before {
  content: "...";
  width: 100%;
  margin-top: -30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
  font-size: 20px;
  color: #666666;
}

.dropdown-more .dropdown-toggle-btn:hover, .dropdown-more .dropdown-toggle-btn:focus {
  background-color: #eee;
}

.dropdown-more .dropdown-list {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
          box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  padding: 0.65rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dropdown-more .dropdown-list a {
  padding: 0.4rem 1.5rem;
  color: #16181b;
  text-decoration: none;
  text-align: center;
}

.dropdown-more .dropdown-list a:hover {
  background-color: #e0f3ff;
}

.dropdown-more .dropdown-list a.active {
  pointer-events: none;
  color: #3f6ad8;
  font-weight: bold;
}

.dropdown-more .dropdown-list.show {
  opacity: 1;
  top: 100%;
  pointer-events: auto;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list .list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eee;
  background-color: #ffffff;
  position: relative;
}

.list .list-row:last-child {
  border-bottom: none;
}

.list .list-row_head .row-field {
  font-weight: bold;
}

.list .list-row .row-field {
  white-space: nowrap;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#postsTable .row-field {
  white-space: nowrap;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .list-row .row-field_number {
  width: 60px;
  font-weight: bold;
}

.list .list-row .row-field_name {
  width: 220px;
}

#postTable.row-field_name {
  width: 220px;
}

.list .list-row .row-field_name .profile-photo {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

#postsTable .profile-photo{
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;

}

#postsTable .profile-photo img{

  width: 100%;
  height: 100%;
}
.list .list-row .row-field_name .profile-photo img {
  width: 100%;
  height: 100%;
}

.list .list-row .row-field_name .name-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.list .list-row .row-field_name .name-info .full-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.list .list-row .row-field_name .name-info .full-name::before {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-color: #65d430;
  color: #fff;
  border-radius: 50%;
  font-size: 8px;
  width: 14px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#postsTable .name-info .full-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

#postsTable .name-info .full-name::before {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-color: #65d430;
  color: #fff;
  border-radius: 50%;
  font-size: 8px;
  width: 14px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .list-row .row-field_name .name-info .meta-info {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list .list-row .row-field_name .name-info .meta-info .major {
  color: #909ca8;
  margin-right: 5px;
}

.list .list-row .row-field_name .name-info .meta-info .username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3e74aa;
}

.list .list-row .row-field_name .name-info .meta-info .username::before {
  content: "@";
}

.list .list-row .row-field_name .name-info .meta-info .date {
  color: #999;
}

#postsTable .meta-info .date {
  color: #999;
}

.list .list-row .row-field_section-name {
  width: 250px;
}

.list .list-row .row-field_section-name .name-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.list .list-row .row-field_section-name .name-info .full-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}


.list .list-row .row-field_section-name .name-info .meta-info {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list .list-row .row-field_section-name .name-info .meta-info .section-number {
  color: #ff4577;
  font-weight: bolder;
  font-size: 14px;
  line-height: 17px;
  margin-right: 5px;
}

.section-number {
  color: #ff4577;
  font-weight: bolder;
  font-size: 14px;
  line-height: 17px;
  margin-right: 5px;
}

.section-category.badge-category-lecture{
  background-color: #ebdfff;
  color: #b6f;
}

.section-category.badge-category-discussion {
  background-color: #d1e6f9;
  color: #4686f6;
}

.section-category.badge-category-lab {
  background-color: #d4f4c2;
  color: #62b943;
}

.section-category.badge-category-tutorial {
  background-color: #f9e1cb;
  color: #f49b49;
}

.section-category.badge-category-practical {
  background-color: #f9d3d3;
  color: #f06f6f;
}

.section-category.badge-category-seminar {
  background-color: #f9ffb6;
  color: #a1ac25;
}

.list .list-row .row-field_section-name .name-info .meta-info .section-category {
  border-radius: 3px;
  padding: 0 6px 2px;
}

.list .list-row .row-field_section-name .name-info .meta-info .section-category.badge-category-lecture {
  background-color: #ebdfff;
  color: #b6f;
}


.list .list-row .row-field_section-name .name-info .meta-info .section-category.badge-category-discussion {
  background-color: #d1e6f9;
  color: #4686f6;
}

.list .list-row .row-field_section-name .name-info .meta-info .section-category.badge-category-lab {
  background-color: #d4f4c2;
  color: #62b943;
}

.list .list-row .row-field_section-name .name-info .meta-info .section-category.badge-category-tutorial {
  background-color: #f9e1cb;
  color: #f49b49;
}

.list .list-row .row-field_section-name .name-info .meta-info .section-category.badge-category-practical {
  background-color: #f9d3d3;
  color: #f06f6f;
}

.list .list-row .row-field_section-name .name-info .meta-info .section-category.badge-category-seminar {
  background-color: #f9ffb6;
  color: #a1ac25;
}

.list .list-row .row-field_title {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#postsTable .row-field_title {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.list .list-row .row-field_title .title {
  font-weight: 600;
  width: 100%;
}
#postsTable  .row-field_title .title {
  font-weight: 600;
  width: 100%;
}

.list .list-row .row-field_title .section-name {
  width: 100%;
  font-size: 11px;
  font-weight: bold;
  color: #999;
  letter-spacing: -0.5px;
}
#postsTable .row-field_title .section-name {
  width: 100%;
  font-size: 11px;
  font-weight: bold;
  color: #999;
  letter-spacing: -0.5px;
}

#postsTable .row-field_title .section-name {
  width: 100%;
  font-size: 11px;
  font-weight: bold;
  color: #999;
  letter-spacing: -0.5px;
}

.list .list-row .row-field_description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#postsTable .row-field_description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.list .list-row .row-field_email {
  width: 200px;
}

.list .list-row .row-field_date {
  width: 110px;
}

.list .list-row .row-field_school {
  width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list .list-row .row-field_section-school {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list .list-row .row-field_status {
  min-width: 100px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list .list-row .row-field_comment-status, .list .list-row .row-field_post-status {
  width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#postTable .row-field_post-status {
  width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list .list-row .row-field_actions {
  width: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list .list-row .row-field_actions .photo-btn,
.list .list-row .row-field_actions .remove-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 40px;
}

.list .list-row .row-field_actions .photo-btn::before,
.list .list-row .row-field_actions .remove-btn::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list .list-row .row-field_actions .item-removed {
  height: 30px;
  width: 40px;
  min-width: 40px;
  background: url("../images/eraser.svg") no-repeat center 2px;
  background-size: 18px 18px;
}

#postsTable .row-field_actions {
  width: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#postsTable .row-field_actions .photo-btn,
#postsTable .row-field_actions .remove-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 40px;
}

#postsTable .row-field_actions .photo-btn::before,
#postsTable .row-field_actions .remove-btn::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#postsTable .row-field_actions .item-removed {
  height: 30px;
  width: 40px;
  min-width: 40px;
  background: url("../images/eraser.svg") no-repeat center 2px;
  background-size: 18px 18px;
}

.list .list-row .row-field_details {
  width: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list .list-row .row-field_details .student-detail,
.list .list-row .row-field_details .comment-detail {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .list-row .row-field_details .student-detail::after,
.list .list-row .row-field_details .comment-detail::after {
  content: attr(data-count);
  font-size: 12px;
  margin: -2px 0 0 1px;
}

.list .list-row .row-field_details .student-detail.disabled,
.list .list-row .row-field_details .comment-detail.disabled {
  pointer-events: none;
  color: #bbb;
}





#postsTable .row-field_details {
  width: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#postsTable .row-field_details .student-detail,
#postsTable .row-field_details .comment-detail {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#postsTable .row-field_details .student-detail::after,
#postsTable .row-field_details .comment-detail::after {
  content: attr(data-count);
  font-size: 12px;
  margin: -2px 0 0 1px;
}

#postsTable .row-field_details .student-detail.disabled,
#postsTable .row-field_details .comment-detail.disabled {
  pointer-events: none;
  color: #bbb;
}


.list .list-row .row-field_section-details {
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list .list-row .row-field_section-details .member-detail,
.list .list-row .row-field_section-details .post-detail {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.list .list-row .row-field_section-details .member-detail::after,
.list .list-row .row-field_section-details .post-detail::after {
  content: attr(data-count);
  font-size: 12px;
  margin: -2px 0 0 1px;
}

.list .list-row .row-field_section-details .member-detail.disabled,
.list .list-row .row-field_section-details .post-detail.disabled {
  pointer-events: none;
  color: #bbb;
}

#sectionsTable .member-detail.disabled,
#sectionsTable .post-detail.disabled {
  pointer-events: none;
  color: #bbb;
}

#sectionsTable .member-detail,
#sectionsTable .post-detail {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

#sectionsTable .member-detail::after,
#sectionsTable .post-detail::after{
  content: attr(data-count);
  font-size: 12px;
  margin: -2px 0 0 1px;

}

.list .list-row .row-field_section-details .post-detail {
  color: #3ac47d;
}

.list .list-row_removed > *,
.list .list-row_removed .photo-btn {
  opacity: 0.4;
}

.list .list-row_removed .row-field_actions {
  opacity: 1;
}

#postsTable .row-field_actions {
  opacity: 1;
}

.list .list-row_child {
  position: relative;
  height: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.list .list-row_child::before {
  position: absolute;
  left: -15px;
  top: -38px;
  z-index: -10;
  width: 30px;
  height: 70px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 5px;
}

.list .list-row_child_0 {
  margin-left: 45px;
  z-index: 1;
}

.list .list-row_child_1 {
  margin-left: 90px;
  z-index: 0;
}

.list .list-row_child.show {
  height: 62px;
  opacity: 1;
  pointer-events: auto;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-wrapper .modal-container {
  width: 100%;
  margin: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0.76875rem 2.4875rem rgba(52, 58, 64, 0.3), 0 1.3375rem 1.70625rem rgba(52, 58, 64, 0.3), 0 0.55rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.225rem 0.4375rem rgba(52, 58, 64, 0.3);
          box-shadow: 0 0.76875rem 2.4875rem rgba(52, 58, 64, 0.3), 0 1.3375rem 1.70625rem rgba(52, 58, 64, 0.3), 0 0.55rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.225rem 0.4375rem rgba(52, 58, 64, 0.3);
  background-color: #ffffff;
  overflow: hidden;
  margin-top: -100px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-wrapper .modal-container_photo {
  max-width: 500px;
  position: relative;
}

.modal-wrapper .modal-container_photo .slider-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
}

.modal-wrapper .modal-container_photo .slider-wrapper figure {
  height: 100%;
  width: 0;
  margin: 0;
  overflow: hidden;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.modal-wrapper .modal-container_photo .slider-wrapper figure img {
  width: 100%;
  height: 100%;
}

.modal-wrapper .modal-container_photo .slider-wrapper figure.active {
  width: 100%;
}

.modal-wrapper .modal-container_photo .slider-arrow-prev,
.modal-wrapper .modal-container_photo .slider-arrow-next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 150px;
  z-index: 1;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal-wrapper .modal-container_photo .slider-arrow-prev:hover,
.modal-wrapper .modal-container_photo .slider-arrow-next:hover {
  opacity: 1;
}

.modal-wrapper .modal-container_photo .slider-arrow-prev {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  left: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal-wrapper .modal-container_photo .slider-arrow-prev::before {
  margin-left: 20px;
}

.modal-wrapper .modal-container_photo .slider-arrow-next {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
  right: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-wrapper .modal-container_photo .slider-arrow-next::before {
  margin-right: 20px;
}

.modal-wrapper .modal-container_reports {
  max-width: 200px;
}

.modal-wrapper .modal-container_reports ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.modal-wrapper .modal-container_reports ul li {
  width: 100%;
  padding: 5px 10px;
  background-color: #333;
  color: #ffffff;
  border-radius: 3px;
  margin: 0 10px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-wrapper .modal-container_reports ul li .badge {
  margin-left: 7px;
}

.modal-wrapper .modal-container_reports ul li:last-child {
  margin-bottom: 0;
}

.modal-wrapper.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-wrapper.show .modal-container {
  margin-top: 0;
}

.post-filter .post-type-wrapper {
  width: 100%;
}

.post-filter .post-type-wrapper .post-filter-type {
  margin: 10px 5px 0 0;
}

.post-filter .post-type-wrapper .post-filter-type label {
  font-size: 12px;
  padding: 7px 15px;
}

.comment-filter .comment-filter-type {
  margin-right: 5px;
}

.comment-filter .comment-filter-type label {
  font-size: 12px;
  padding: 7px 12px;
}

.no-data {
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
}

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.pagination .page-item.active .page-link {
  pointer-events: none;
}

.fixed-sidebar .app-main .app-main__outer {
  max-width: 100%;
}

.app-sidebar {
  width: 250px;
  min-width: 250px;
}

.fixed-sidebar .app-main .app-main__outer {
  padding-left: 250px;
}

.app-header__logo {
  width: 250px;
}
/*# sourceMappingURL=customize.css.map */