<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs') -%>

<body>

  <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">

    <%- include ('../partials/header.ejs', { user: user }) -%>

    <div class="app-main">

      <%- include ('../partials/sidebar.ejs', { ...sidebar }) -%>

      <div class="app-main__outer">
        <div class="app-main__inner">

          <%- include ('../partials/page-title.ejs', { ...page }) -%>

          <div class="row">
            <%- include ('../partials/editsettings-form.ejs',{response, showvalidate, oldData}) -%>

          </div>

        </div>
      </div>

    </div>

  </div>

  <%- include ('../partials/scripts.ejs') -%>
</body>

</html>
