<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <!-- <form method="POST" action="/admins/login" class="login-form" id="login-form">
    <input type="email" placeholder="Enter email" name="email">
    <input type="password" placeholder="Enter password" name="password">
    <input type="submit" value="Log In">
  </form> -->

  <div id="login-form-wrap">
    <h1>Login</12>
    <form method="POST" action="/admins/login" class="login-form" id="login-form">
      <p>
        <input type="email" name="email" placeholder="Email" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="password" name="password" placeholder="Password" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="submit" value="Login">
      </p>
    </form>
  </div>

  <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="/js/login.js"></script>

</body>

</html>
