<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs') -%>

<body>

  <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">

    <%- include ('../partials/header.ejs', { user: user }) -%>

    <div class="app-main">

      <%- include ('../partials/sidebar.ejs', { ...sidebar }) -%>

      <div class="app-main__outer">
        <div class="app-main__inner">

          <%- include ('../partials/page-title.ejs', { ...page }) -%>

          <%- include ('../partials/breadcrumb.ejs', { ...breadcrumb }) -%>

          <div class="row">
            <%- include ('../partials/post-filter.ejs', { ...filter}) -%>

            <% if(list.length) { %>
              <%- include ('../partials/post-list.ejs', { list }) -%>
            <% } else { %>
              <div class="no-data">No post found!</div>
            <% } %>
          </div>

        </div>
      </div>

    </div>

  </div>


  <%- include ('../partials/photo-modal.ejs') -%>
  <%- include ('../partials/reports-modal.ejs') -%>

  <%- include ('../partials/scripts.ejs') -%>
  <script src="/js/posts.js"></script>
</body>

</html>
