<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Set password </title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    @media(max-width:560px){
      #login-form-wrap{
        width:100% !important;
        padding: 15px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin: 0 !important;
      }
      #login-form{
      padding: 0px 30px !important;
      }
      h1{
      font-size: 27px !important;
     }
    }
    input[type='submit']{
      background-color: #FF017B !important;
      -webkit-appearance: none !important;
    }
    h1{
      font-size: 33px;
    }

  </style>

</head>

<body></body>

  <div id="login-form-wrap">
    <form method="POST" action="" class="" id="login-form">
      <% if (showvalidate != '') { %>
        <div class="alert alert-danger" role="alert">

            <% if (showvalidate.newpasswordRequired) { %>
                <%= showvalidate.newpasswordRequired.msg %>
                <br>
            <% } %>

            <% if (showvalidate.confirmpasswordRequired) { %>
                <%= showvalidate.confirmpasswordRequired.msg %>
                <br>
            <% } %>

            <% if (showvalidate.notmatch) { %>
              <%= showvalidate.notmatch.msg %>
              <br>
          <% } %>
            
          </div>
          <% } %>
      <h1>Reset your password</h1>
      <p>
        <input type="password" name="newpassword" placeholder="New Password" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="password" name="confirmpassword" placeholder="Confirm Password" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="submit" value="Reset">
      </p>
    </form>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>

</script>

<% if (response != '') { %>
    <script>
     Swal(
        '<%= response.type %>',
        '<%= response.msg %>',
        '<%= response.type %>'
    ).then(function() {
            window.location.href = "/api/v4/user/deeplink?url=strapp://open/";
        })
   </script>
   <% } %>
  
  <!-- <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="/js/login.js"></script> -->

</body>

</html>
